@import '../../styles/variables.module';

h1 {
  margin: 18px 32px;
  font-size: 2em;
  font-weight: bold;
}
.MainHeading {
  margin-top: 38px;
}
.LanguageContainer {
  float: right;
  margin-top: 5px;
  span {
    margin-right: 10px;
  }
}

.ViewPricing {
  cursor: pointer;
  span {
    color: $yellow;
  }
}
.DateContainer {
  margin-top: 12px;
  span{
    display: block;
  }
}
.Csv{
  span{
    color: $dark-green;
  }
}
.Report{
  margin-left: 10px;
  span {
    color: $dark-red;
  }
}
.Scheduler {
  margin-left: 10px;
  cursor: pointer;
  span {
    color: $dark-blue;
  }
}
.CalendarDemoCard {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}


@media (min-width:1000px){
  .content {
    margin: 0px 32px;
  }
  .CampaignDetail {
    display: block;
    margin-top: -17px;
    margin-left: 44px;
  }
}

.PricingHeadContent{
  display: flex;
  p {
    margin-left: 5px;
  }
  .PricingName {
    margin-top: 56px;
  }
  .PricingRegion {
    margin-top: -11px;
  }
}

.PricingContent {
  display: flex;
}
.PricingContent > div:first-child {
flex-grow: 1;
}
.PricingFooter{
  text-align:center;
   margin-top:30px;
}
@media (max-width:890px) {
  .content {
    margin: 0px 13px;
  }
  .CampaignDetail {
    display: block;
    margin-top: -2px;
    margin-left: -2px;
  }
}