@import '~antd/dist/antd.css';

$white: #ffffff;
$grey: #9c9c9c;
$light-grey: #FFFFFFA6;
$lighter-grey: #e8e8e8;
$lightest-grey: #fafafa;
$dark-grey: #555555;
$darker-grey: #333333;
$black: #000000;
$blue: #deebff;
$primary: #29aae2;
$light-blue: #1890FF;
$box-shadow-color: rgba($primary, 0.15);
$yellow: #ffe92f;
$dark-blue: #30839f;
$dark-red:#c5603d;
$dark-green:#3dc560;