@import './variables.module';

body {
  margin: 0;
  padding: 0;
}

:root {
  --scrollbar-color: #{$grey};
}
  
#root {
  height: 100%;

  > div {
    height: 100%;
  }

  .ant-table-placeholder {
    z-index: 0;
  }

  .text-linethrough {
    text-decoration: line-through;
  }

  .Icon__Primary--RoundBorder {
    font-size: 100px;
    color: $blue;
    border: 5px solid $blue;
    border-radius: 50%;
  }
}

.ant {
  &-layout,
  &-layout-content {
    height: 100%;
    background-color: $white;
  }

  &-btn {
    &-sm {
      .anticon {
        font-size: 12px;
      }
    }
  }

  &-avatar {
    img {
      object-fit: cover;
    }
  }
}

.ant-form .ant-form-item .ant-form-item-label > label {
    height: auto;
}